<section class="flex flex-col">
  <div class="flex flex-col md:flex-row md:justify-center items-start flex-wrap">
    <% @recipes.each do |recipe| %>
        <div class="border border-gray-200 rounded mr-6 mt-6 max-w-lg min-w-300 hover:scale-105 transform transition-all duration-500">
          <%= link_to recipe_path(recipe.id, modal: true), data: { "turbo-frame": "modal" } do %>
            <img src="<%= recipe.photo&.url %>" />
            <p class="p-5"><%= recipe.title %></p>
          <% end %>
        </div>
    <% end %>
  </div>
</section>
