<% if params[:modal] %>
  <%= render "shared/modal" do %>
    <div class='flex mt-6 max-w-lg w-full bg-white mx-auto min-w-300'>
      <div class="relative text-white">
        <%= render "recipe", recipe: @recipe %>
        <div class="flex flex-row relative pb-10 space-x-4 z-10 mt-3 cursor-pointer">
          <a data-action="modal#close" class="flex items-center py-2 px-4 rounded-full mx-auto text-white bg-red-500 hover:bg-red-700">
            <div class="text-sm text-white ml-2 mr-2">Close</div>
          </a>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="text-white">
    <%= render "recipe", recipe: @recipe %>
    <div class="flex flex-row relative pb-10 space-x-4 z-10 mt-8 cursor-pointer">
      <a class="flex items-center py-2 px-4 rounded-full mx-auto text-white bg-red-500 hover:bg-red-700" href="<%= root_path %>">
        <div class="text-sm text-white ml-2 mr-2">Back to All Recipes</div>
      </a>
    </div>
  </div>
<% end %>
