<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal" data-action="keyup@document->modal#handleKeyup" class="fixed z-10 w-full min-h-full overflow-auto top-0 left-0">
    <div class="absolute mx-auto rounded overflow-auto w-full items-center justify-center flex min-h-full bg-gray-50 bg-opacity-80 py-4">
      <%= turbo_frame_tag "modal-body" do %>
        <%= yield %>
      <% end %>
    </div>
  </div>
<% end %>
